{% extends "base.html.twig"%}

{% block title %}
    creation d'un novel article
{% endblock %}

{% block body %}
  <h1 class="display-4 text-center my-5">
  {% if editMode %}
    Modification de l'article {{ editMode}}
  {% else %}
    creation nouvel
  {% endif %}
</h1>

    {#<h1 class="displais-4 text-center my-5">creation d'un nouvel article</h1>
    <form method="post">
  <div class="form-group">
    <label for="title">Titre</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="form-group">
    <label for="content">Contenu</label>
    <textarea class="form-control" id="content" name="content" rows="15"></textarea>
  </div>
  <div class="form-group">
    <label for="image">Photo de l'article</label>
    <input type="text" class="form-control" id="image" name="image">
  </div>
  <button type="submit" class="btn btn-secondary my-5">Enregistrer 5</button>
  
</form>#}
{#{{ form(formArticle) }}#}
 {{ form_start(formArticle, {'attr': {'class': 'col-md-5 mx-auto'}}) }}

    {{ form_row(formArticle.title,{
      'attr':{'placeholder': "Saisir le titre de l'article", "maxlength":false, "pattern":false},
      'label': "titre de l'article"
      })
    }}
    
    {{ form_row(formArticle.category, {'label': "Choisir une categorie"})}}
    
    {{ form_row(formArticle.content,{
      'attr':{'placeholder': "Saisir le titre de l'article",
      'row': 15
    },
      'label': "titre de l'article"
    }) 
    }}
    {{ form_row(formArticle.image,{
      'attr':{'placeholder': "Saisir l'Urlde l'image"},
      'label': "titre de l'article"
    }) }}
    <button type="submit" class="btn btn-secondary">
    {% if editMode %}
    Enregistrer les Modifications
    {% else %}
    Enregistrer l'article

    {% endif %}
    </button>
 {{ form_end(formArticle) }}
{% endblock %}