{% extends "base.html.twig" %}
{# On hérite du gabarit de base (header, footer etc...) #}

{% block title %}
    Détail de l'article
{% endblock %}

{# On intégre le contenu du template dans la block 'body' de base.html.twig #}
{% block body %}

    <h1 class="display-4 text-center my-5">{{articleTwig.title}}</h1>
    {% for message in app.flashes('success') %}
        <div class="col-md-5 bg-success p-4 rounded mx-auto text-center text-white mb-3">
        {{message}}
        </div>
    {% endfor %}

    {# <div class="album py-5 bg-light"> #}
        <div class="row">

            <div class="col-md-8 mx-auto">
                <div class="card mb-4 shadow-sm">
                                <img src="{{ articleTwig.image}}" alt"{{articleTwig.title}}">

                    <div class="card-body">
                    <p class="card-text">{{articleTwig.content|raw}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">Poste me{{articleTwig.createAt|date('d/m/Y')}} à {{articleTwig.createAt|date('H:i:s')}}dans lacategorie <strong>  {{ data.category.title }} </strong> </small>
                    </div>
                    </div>
                </div>
                                <h4 class="my-5">Donner votre avis</h4>
                                {{form_start(formComment)}}
                                {{  form_row(formComment.author, {'label': "Nom d'utilisateur"})}}
                                {{  form_row(formComment.content,  {'label': "Saisir commentaire"})}}
                                <button type="submit" class="btn btn-secondary">Poster votre commentaire</button>
                                {{form_end(formComment)}}

                <h4 class="my-5">Vos reactions...</h4>
                <div class="row">
                {% for comments in articleTwig.comments %}
                    {{ dump(comment )}}
                    <div class="col-md-4 py-2">
                        <span><strong>{{comment.author}}</strong></span>
                        <small class"front-italic">
                            Posté le {{comment.createAt|date('d/m/Y')}} à {{comment.createAt|date('H:i:s')}}
                        </small>
                    </div>
                    <div class="col-md-8 py_2">
                    {{ comment.content|striptags}}

                    </div>
                    <hr class="col-md-10 bg-light">

                {% endfor %}

                </div>
            </div>

        </div>
    {# </div> #}
    
{% endblock %}