{% extends "base.html.twig" %}
{# On hérite du gabarit de base (header, footer etc...) #}

{% block title %}
    Détail de l'article
{% endblock %}

{# On intégre le contenu du template dans la block 'body' de base.html.twig #}
{% block body %}

    <h1 class="display-4 text-center my-5">{{articleTwig.title}}</h1>

    {# <div class="album py-5 bg-light"> #}
        <div class="row">

            <div class="col-md-8 mx-auto">
                <div class="card mb-4 shadow-sm">
                                <img src="{{ articleTwig.image}}" alt"{{articleTwig.title}}">

                    <div class="card-body">
                    <p class="card-text">{{articleTwig.content|striptags}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">{{articleTwig.createAt|date('d/m/Y')}} à {{articleTwig.createAt|date('H:i:s')}}</small>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    {# </div> #}
    
{% endblock %}